{% extends 'base.html' %}
{% import "macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
    {{super()}} {# 
        El super() me trae el contenido definido en el bloque. Para así no sobreescribir
        todo el contenido  
    #}
    Bienvenido
{% endblock %}


{% block content %}
    {% if username %}
        Bienvenido, {{username | capitalize}}
    {% endif %}
    


    {% if user_ip %}
    <h3>Hello, World. Tú IP es: {{ user_ip }}</h3>
    {% else %}
    <a href="{{ url_for('index')}}">Ir a inicio</a>
    {% endif %}


    <div class="container">
        {# 
           <form action="{{url_for('hello')}}" method="POST"></form>
            {{ login_form.username }}
            {{ login_form.username.label }}
        #}

        {{ wtf.quick_form(login_form)}}
        
    </div>

 

    <ul>
        {% for todo in todos %}
            {{macros.render_todo(todo)}}
        {% endfor %}
    </ul>
{% endblock %}


   
    
    

